@using TechEngineer.Web.Startup
@model TechEngineer.Web.Models.Appointments.AppointmentListViewModel
@{
    ViewBag.Title = L("Appointments");
    ViewBag.CurrentPageName = PageNames.Appointments;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Appointments/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Appointments/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Appointments")</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" id="CreateAppointmentsBtn" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    @if (User.IsInRole(TechEngineer.Authorization.Roles.StaticRoleNames.Tenants.SuperAdmin))
                                    {
                                        <label class="col-md-2 col-form-label">Locations</label>
                                        <select class="location-dropdown col-md-9 form-control" id="loc_dropdown">
                                            <option id="All" disabled selected></option>
                                            @foreach (var location in Model.Locations)
                                            {
                                                <option id="@location.Id" data-bind="@location.OrganizationId">@(string.Concat(location.Address1," ",location.Address2))</option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Appointments/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="AppointmentsTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Asset")</th>
                                        <th>@L("UserId")</th>
                                        <th>@L("RequestDate")</th>
                                        <th>@L("Remarks")</th>
                                        <th>@L("Location")</th>
                                        <th>@L("Organization")</th>
                                        <th>@L("Status")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Appointments/_CreateModal.cshtml", Model)

<div class="modal fade" id="AppointmentEditModal" tabindex="-1" role="dialog" aria-labelledby="AppointmentEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
