@using TechEngineer.Web.Models.Common.Modals
@model TechEngineer.Web.Models.Assets.AssetListViewModel
@{
    Layout = null;
}

<div class="modal fade" id="ImportAssetExcelModal" tabindex="-1" role="dialog" aria-labelledby="ImportAssetExcelModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ImportAsset")))
            <form name="assetImportForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="locationId">@L("Location")</label>
                        <div class="col-md-9">
                            <select class="form-control location_dd" name="locationId" id="location_dropdown">
                                @foreach (var loc in Model.Locations)
                                {
                                    <option id="@loc.Id" data-bind="@loc.OrganizationId">@(string.Concat(loc.Address1, " ", loc.Address2))</option>
                                }
                            </select>
                            <input type="hidden" name="organizationId" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="locationId">@L("Select File")</label>
                        <div class="col-md-6">
                            <input class="form-control col-md-9" type="file" name="importFile" id="importFile" /> 
                        </div>
                        <div class="col-md-3 d-flex justify-content-end">
                            <a href="javascript:;" id="ImportAssetsBtn" class="btn bg-blue">
                            @L("Import Assets")
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-start">
                            <a href="~/excel/TechEngineerAssetsSample.xlsx" class="btn bg-blue">
                                @L("Download Sample Excel")
                            </a>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>